@model SarVm

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/frmp_acciones.css" />
</head>
<div class="acciones-container">
    <div class="tittle"><h1>Eliminar Cliente</h1></div>
    <div class="form-container-acciones">
        <form asp-action="Eliminar" method="post">
            <input asp-for="Id" type="hidden" class="form-control" />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CAI" class="control-label">CAI</label>
                        <input asp-for="CAI" class="form-control" readonly />
                        <span asp-validation-for="CAI" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RangoInicial" class="control-label">Rango Inicial</label>
                        <input asp-for="RangoInicial" class="form-control" readonly />
                        <span asp-validation-for="RangoInicial" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RangoFinal" class="control-label">Rango Final</label>
                        <input asp-for="RangoFinal" class="form-control" readonly />
                        <span asp-validation-for="RangoFinal" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LimitEmision" class="control-label">Limite Emision</label>
                        <input asp-for="LimitEmision" class="form-control" readonly />
                        <span asp-validation-for="LimitEmision" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Eliminar" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>
<!--MODAL-->
<div class="modal" id="mensajeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @TempData["mensaje"]
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var mensaje = '@TempData["mensaje"]';
            if (mensaje !== "") {
                $("#mensajeModal").modal("show");
                setTimeout(function () {
                    $("#mensajeModal").modal("hide");
                }, 3000);
            }
        });
    </script>
}


