@model ProductoVm
@{
    ViewData["Title"] = "BuscarProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/frmp_busqueda.css" />
</head>
<form id="frmpbusqueda">
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <button type="button" id="btnbuscar">Buscar</button>
    </div>

    <div class="table-container" id="Tabla">
        <table class="table table-bordered table-striped" id="detalle">
            <thead>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Costo</th>
                <th>Categoria</th>
                <th>Acciones</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <br />
</form>
<!--MODAL ERRORES-->
<div class="modal" id="mensajeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @TempData["mensaje"]
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        //Modal Error
        $(document).ready(function () {
            var mensaje = '@TempData["mensaje"]';
            if (mensaje !== "") {
                $("#mensajeModal").modal("show");
                setTimeout(function () {
                    $("#mensajeModal").modal("hide");
                }, 3000);
            }
        });
        //Modal Producto
        $("#btnMostrarModal").click(function (event) {
            event.preventDefault();
            $('#modalAgregarProductos').modal('show');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#detalle').hide();
            $('#btnbuscar').click(function () {
                var tbl = $('#detalle tbody');
                $('#detalle').find("tr:gt(0)").remove();
                var form = $('#frmpbusqueda').serialize();
                console.log(form);
                $.ajax({
                    type: "POST",
                    url: "BuscarProductoNombre",
                    data: form,
                    dataType: "json",
                    success: function (data) {

                        console.log(data.value);
                        alert(data.value.message);
                        if (data.value.isValid) {
                            var html = "";
                            for (i = 0; i < data.value.data.length; i++) {

                                html += "<tr> " +
                                    "<td>" + data.value.data[i].nombre + "</td>" +
                                    "<td>" + data.value.data[i].precio + "</td>" +
                                    "<td>" + data.value.data[i].costo + "</td>" +
                                    "<td>" + data.value.data[i].categoria.nombre + "</td>" +
                                    "<td>" +
                                    "<a class='btn btn-info btn-icon' href='/Producto/Editar?ProductoId=" + data.value.data[i].id + "'><img src='/img/ic_editar.png' alt='Editar' class='iceditar'></a>" +
                                    " <a class='btn btn-info btn-icon' href='/Producto/Eliminar?ProductoId=" + data.value.data[i].id + "'><img src='/img/ic_eliminar.png' alt='Eliminar' class='iceliminar'></a>" +
                                    "</td>" +
                                    "</tr>";
                            }
                            $('#detalle').show();
                            tbl.append(html);
                        }
                    }
                });
            })
        });
    </script>
}
