@model ProductoVm
@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Eliminar Producto</h1>
    <form asp-action="Eliminar" method="post">
        <div class="row">
            <div class="danger">
                @if (TempData["mensaje"] != null)
                {
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <p> @TempData["mensaje"]</p>
                        <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            </div>
        </div>
        <input asp-for="Id" type="hidden" class="form-control" />
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input asp-for="Nombre" class="form-control" readonly/>
            <span asp-validation-for="Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Precio" class="control-label"></label>
            <input asp-for="Precio" class="form-control" readonly />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Costo" class="control-label"></label>
            <input asp-for="Costo" class="form-control" readonly />
            <span asp-validation-for="Costo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Categoria.Nombre" control-label"></label>
            <input asp-for="Categoria.Nombre" class="form-control" readonly />
            <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Eliminar" class="btn-success" />
        </div>
    </form>
</div>