@model ProductoVm
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/frmp_acciones.css" />
</head>
<div class="acciones-container">
    <div class="tittle"><h1>Insertar Producto</h1></div>
    <div class="form-container-acciones">
        <form asp-action="Insertar" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Precio" class="control-label"></label>
                        <input asp-for="Precio" class="form-control" />
                        <span asp-validation-for="Precio" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Costo" class="control-label"></label>
                        <input asp-for="Costo" class="form-control" />
                        <span asp-validation-for="Costo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="IdCategoria" nam class="control-label">Categoría</label>
                        @Html.DropDownList("IdCategoria", Model.CategoriaLista, "Seleccione Una Categoría", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Insertar" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>
<!--MODAL-->
<div class="modal" id="mensajeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @TempData["mensaje"]
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var mensaje = '@TempData["mensaje"]';
            if (mensaje !== "") {
                $("#mensajeModal").modal("show");
                setTimeout(function () {
                    $("#mensajeModal").modal("hide");
                }, 3000);
            }
        });
    </script>
}