@model ClienteVm

@{
    ViewData["Title"] = "BuscarNombre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/frmp_busqueda.css" />
</head>
<form id="frmpbusqueda">
    <div class="row">
        <div class="danger">
            @if (TempData["mensaje"] != null)
            {
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <p>@TempData["mensaje"]</p>
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" />
        <button type="button" id="btnbuscar">Buscar</button>
    </div>

    <div class="table-container" id="Tabla">
        <table class="table table-bordered table-striped" id="detalle">
            <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>RTN</th>
            <th>Acciones</th>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <br />
</form>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#detalle').hide();
            $('#btnbuscar').click(function () {
                var tbl = $('#detalle tbody');
                $('#detalle').find("tr:gt(0)").remove();
                var form = $('#frmpbusqueda').serialize();
                console.log(form);
                $.ajax({
                    type: "POST",
                    url: "BuscarClienteNombre",
                    data: form,
                    dataType: "json",
                    success: function (data) {

                        console.log(data.value);
                        alert(data.value.message);
                        if (data.value.isValid) {
                            var html = "";
                            for (i = 0; i < data.value.data.length; i++) {

                                html += "<tr> " +
                                    "<td>" + data.value.data[i].nombre + "</td>" +
                                    "<td>" + data.value.data[i].apellido + "</td>" +
                                    "<td>" + data.value.data[i].direccion + "</td>" +
                                    "<td>" + data.value.data[i].telefono + "</td>" +
                                    "<td>" + data.value.data[i].rtn + "</td>" +
                                    "<td>" +
                                    "<a class='btn btn-info btn-icon' href='/Cliente/Editar?ClienteId=" + data.value.data[i].id + "'><img src='/img/ic_editar.png' alt='Editar' class='iceditar'></a>" +
                                    " <a class='btn btn-info btn-icon' href='/Cliente/Eliminar?ClienteId=" + data.value.data[i].id + "'><img src='/img/ic_eliminar.png' alt='Eliminar' class='iceliminar'></a>" +
                                    "</td>" +
                                    "</tr>";
                            }
                            $('#detalle').show();
                            tbl.append(html);
                        }
                    }
                });
            })
        });
    </script>
}